/* All the custom css */
.logo img {
    max-width: 300px !important;
}

.no-logo {
    position: absolute;
    top: 50%;
}

.error-area {
    padding-top: 120px;
    text-align: center;
}

.btn-text {
    padding: 20px 40px;
    background: #F74F22;
    color: #fff;
    border-radius: 5px;
}