/* All the custom css */
.logo img {
    max-width: 300px !important;
}

.no-logo {
    position: absolute;
    top: 50%;
}

.error-area {
    padding-top: 120px;
    text-align: center;
}

.btn-text {
    padding: 20px 40px;
    background: #F74F22;
    color: #fff;
    border-radius: 5px;
}

.single-blog-thumbnail {
    width: 100%;
}

.home .page-heading {
    display: none;
}

.cf-style p{
    font-size: unset;
    color: unset;
    margin-bottom: 30px;
}

.main-dark-button {
    padding: 10px 20px;
    background: #000;
    color: #fff ;
    border: 1px solid #000;
    transition: background 0.5s ease, color 0.3s ease, border 0.3s ease;
}

.main-dark-button:hover {
    background: #fff;
    color: #000 ;
    border: 1px solid #000;
}

.text-area {
    padding: 20px;
    width: 100%;
}

/* Input styles */
.container.cf-style .input-name,
.container.cf-style .form-email,
.container.cf-style .text-area {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.contact__content {
    padding-left: 15px;
}

.archive__products__title a {
    color: #2a2a2a;
}

/* woo rating *
.star-rating{
	position: relative;
	display: inline-block;
}
.star-rating span {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	font-size: 0px;
	display: flex;
}
.star-rating::before {
	font-family: "Font Awesome 5 Free";
	content: "\f005\f005\f005\f005\f005";
	text-transform: uppercase;
	letter-spacing: 3px;
	color: var(--tp-common-yellow-5);
	font-size: 11px;
}
.star-rating span::before {
	font-family: "Font Awesome 5 Free";
	content: "\e033\e033\e033\e033\e033";
	text-transform: uppercase;
	letter-spacing: 3px;
	color: var(--tp-common-yellow-5);
	font-weight: 900;
	display: inline-block;
	font-size: 11px;
}
*/

/* woo rating */
.star-rating {
    position: relative;
    display: inline-block;
    font-size: 0; /* Ensure no extra space around stars */
    width: auto;
}

.star-rating::before {
    font-family: "FontAwesome";
    content: "\f005 \f005 \f005 \f005 \f005"; /* Full star icon */
    color: #d3d3d3; /* Light grey color for background stars */
    font-size: 18px; /* Adjust size as needed */
    letter-spacing: 3px;
    display: block;
}

.star-rating span {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	font-size: 0px;
	display: flex;
}

.star-rating span::before {
    font-family: "FontAwesome";
    content: "\f005\f005 \f005 \f005 \f005"; /* Full star icon */
    color: #ffcc00; /* Yellow color for filled stars */
    font-size: 18px; /* Adjust size as needed */
    letter-spacing: 3px;
    display: block;
}
